@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  width: 100%;
  background-color: rgb(12, 12, 12);
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(12, 12, 12);
}

::-webkit-scrollbar-thumb {
  background: rgb(30, 30, 30);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide-scrollbar {
  animation: show-scroll 200ms ease;

}

.hide-scrollbar:not(:hover)::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar:not(:hover) {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes show-scroll {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}