@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  width: 100%;
  background-color: rgb(12, 12, 12);
  color: white;
}

.draggable{
  -webkit-app-region: drag;
}

.container {
  padding-right: 6px; /* Espaço reservado para o scrollbar */
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(12, 12, 12);
}

::-webkit-scrollbar-thumb {
  background: rgb(30, 30, 30);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.loading_process_metadatas {
  animation: loading_infinity 2s linear infinite;
}

@keyframes loading_infinity {
  from{
    left: -100%;
  }to{
    left: 100%;
  }
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 500ms ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}


.notifications-enter-active{
  animation: move-notifications 400ms ease-out ;
} 

.notifications-move{
  transition: all 200ms linear;
}

.notifications-leave-active {
  animation: move-notifications 200ms ease-out reverse ;
}

@keyframes move-notifications {
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
